body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  line-height: 1.6em;
}

#main-header {
  background: purple;
  color: #f1f1f1;
  text-align: center;
}

h1,
h2 {
  line-height: 1.6em;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.goodbye {
  background: purple;
  color: #f1f1f1;
  text-align: center;
}

.infoHeader,
.errorHeader,
.statsHeader,
.loadingHeader {
  background: darkorchid;
  color: #f1f1f1;
}

.loadingHeader {
  text-align: center;
}

.statsHeader,
.infoHeader,
.errorHeader,
.errorBox {
  display: none;
}
